{% set title = 'SCR audit v7' %}
{% set serviceName = "Audit and transparency" %}
{% set PROTOTYPEURL = "scr-audit/v7" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1>{{title}} - {{serviceName}}</h1>

  <h2>Prototype flow</h2>
  <ol>
    <li><a href="/{{PROTOTYPEURL}}/start">Start</a></li>
    <li><a href="/{{PROTOTYPEURL}}/before-you-continue">Before you continue</a></li>
  </ol>

  <h2>Scenarios</h2>

  <h2>Error pages</h2>

  <h2>Other</h2>
  <ul>
    <li><a href="/{{PROTOTYPEURL}}/nhsnumber">NHS number example</a></li>
  </ul>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
