{% set title = "Your details help health and care staff identify you and allow services to contact you" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}


{% block body %}
<div class="nhsuk-u-reading-width">
  {{ backLink({
    "href": "/" + PROTOTYPEURL + "/dashboard/your-details",
    "text": "Back to your details"
  }) }}

    <div class="audit-promo">
      <div class="audit-promo-wrapper">
        <div class="audit-promo__content">
          <h1 class="audit-promo__heading nhsuk-heading-l">{{title}}</h1>
          <button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/explainer/your-details-are-used-to-help-manage-the-NHS'">
            Continue
          </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
