{% set title = "Your previous GP surgeries" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% set NAME = "Beacon Medical Practice" %}
{% set GP = "Dr R N Dom" %}
{% set PHONE = "01754 897000" %}
{% set DATE = "11 December 2011" %}
{% set ADDRESS = "Churchill Avenue <br />
                  Skegness <br />
                  Lincolnshire <br />
                  PE25 2RN" %}
{% set previous = [
  {
    name: "Havell Road Medical Centre",
    gp: "Dr Susan Kirby",
    phone: "01754 897345",
    address: "Havell Road Medical Centre <br />
                      Skegness <br />
                      Lincolnshire <br />
                      PE25 2RN",
    date: "26 Febuary 1999 to 10 December 2011"
  },
  {
    name: "Seaford View GP Surgery",
    gp: "Dr T A E Pucovski",
    phone: "01754 897000",
    address: "Churchill Avenue <br />
                      Skegness <br />
                      Lincolnshire <br />
                      PE25 2RN",
    date: "15 August 1990 to 25 Febuary 1999"
  }
]
%}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">
  {{ backLink({
    "href": "/" + PROTOTYPEURL + "/your-GP/your-GP--single-with-a-link",
    "text": "Back to previous page"
  }) }}

  <h1 class="nhsuk-heading-l">
    {{title}}
  </h1>

  {% for gp in previous %}

<div>
  <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-4">
    <span class="audit-subheading">{{ gp.date }}</span>
    {{ gp.name }}
  </h2>

  <dl class="audit-dl">
    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Your GP</dt>
      <dd class="audit-dl--inline__dd">
        {{ gp.gp }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Phone number</dt>
      <dd class="audit-dl--inline__dd">{{ gp.phone }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Address</dt>
      <dd class="audit-dl--inline__dd">{{ gp.address | safe }}</dd>
    </div>
  </dl>
</div>


  {% endfor %}

</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
