{% set title = "We need to use your details to check who's looked at your health records" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}
{% from 'label/macro.njk' import label %}


{% block body %}

  <div class="nhsuk-u-reading-width">
    <div class="audit-promo">
      <div class="audit-promo-wrapper">
        <div class="audit-promo__content">
          <h1 class="audit-promo__heading nhsuk-heading-l">{{title}}</h1>
          <p>
            By using this service you agree to our <a href="#">terms and conditions</a> which explains that we will use:
          </p>
          <ul>
            <li>NHS login to verify your identity</li>
            <li>your NHS number to check who has looked at your records</li>
          </ul>
          <button type="submit" class="nhsuk-button" onclick="window.location.href='http://nhs-cid.herokuapp.com/create-account/demo/start?service=app4&serviceName=Audit%20And%20Transparency&returnUrl=https://nhs-audit.herokuapp.com/login&devMode=undefined'">
            Agree and continue
          </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
