{% set title = "Your details" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% set info = [
  {
    name: "Sally Wash",
    dob: "5/5/1948",
    gender: "Female",
    placeOfBirth: "Skegness",
    email: "sally.wash@example.com",
    telephone: "01132111165",
    mobile: "07116211211",
    NHSNumber: "485 777 3456",
    address: "Grand Parade <br />
                      Great George Street <br />
                      Skegness <br />
                      Lincolnshire <br />
                      PE25 2UE"
  }
]
%}

, Skegness
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}
{% from 'label/macro.njk' import label %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'details/macro.njk' import details %}
```
{% block body %}
<div class="nhsuk-u-reading-width">
  {{ backLink({
    "href": "/" + PROTOTYPEURL + "/dashboard/your-details",
    "text": "Back to previous page"
  }) }}

  {% for d in info %}
  <h1 class="nhsuk-heading-l">
    {{title}}
  </h1>

  <dl class="audit-dl--inline">
    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Name</dt>
      <dd class="audit-dl--inline__dd">{{ d.name }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Date of birth</dt>
      <dd class="audit-dl--inline__dd">{{ d.dob }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Place of birth</dt>
      <dd class="audit-dl--inline__dd">{{ d.placeOfBirth }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">NHS number</dt>
      <dd class="audit-dl--inline__dd">{{ d.NHSNumber }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Email</dt>
      <dd class="audit-dl--inline__dd">{{ d.email }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Telephone</dt>
      <dd class="audit-dl--inline__dd">{{ d.telephone }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Mobile</dt>
      <dd class="audit-dl--inline__dd">{{ d.mobile }}</dd>
    </div>

    <div class="audit-dl--inline__container">
      <dt class="audit-dl--inline__dt">Address</dt>
      <dd class="audit-dl--inline__dd">
        {{ d.address | safe }}
        <span class="audit-dl-link"><a href="/{{PROTOTYPEURL}}/your-details/previous-addresses">Previous addresses</a></span>
      </dd>
    </div>

</dl>
  {% endfor %}


<p><a href="/{{PROTOTYPEURL}}/change-your-details/change">How to update these details</a></p>

{{ details({
  "classes": "nhsuk-expander",
  "text": "Where this information comes from",
  "HTML": "
  <p>This information comes from your GP surgery and other NHS services you have used or are registered with.</p>
  "
}) }}


</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
