{% set title = "Your details" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% set details = [
  {
    name: "Sally Wash",
    dob: "5/5/1948",
    gender: "Female",
    placeOfBirth: "Skegness",
    email: "sally.wash@example.com",
    telephone: "01132111165",
    mobile: "07116211211",
    NHSNumber: "485 777 3456",
    address: "Grand Parade <br />
                      Great George Street <br />
                      Skegness <br />
                      Lincolnshire <br />
                      PE25 2UE"
  }
]
%}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">
  {{ backLink({
    "href": "/" + PROTOTYPEURL + "/dashboard/your-details",
    "text": "Back to previous page"
  }) }}

  {% for d in details %}
  <h1 class="nhsuk-heading-l">
    Your details
  </h1>

  <div class="nhsuk-panel-with-label">
    <h2 class="nhsuk-panel-with-label__label">Personal details</h2>
    <dl class="">
      <dt>Your name</dt>
      <dd>{{ d.name }}</dd>

      <dt>Your date of birth</dt>
      <dd>{{ d.dob }}</dd>

      <dt>Your place of birth</dt>
      <dd>{{ d.placeOfBirth }}</dd>

      <dt>Your gender</dt>
      <dd>
        {{ d.gender }}
        <span class="audit-dl-link"><a>Where this information comes from</a></span>
      </dd>
    </dl>
  </div>

  <div class="nhsuk-panel-with-label">
    <h2 class="nhsuk-panel-with-label__label">Contact details</h2>
    <dl class="">
      <dt>Your email</dt>
      <dd>{{ d.email }}</dd>

      <dt>Your telephone</dt>
      <dd>{{ d.telephone }}</dd>

      <dt>Your mobile</dt>
      <dd>{{ d.mobile }}</dd>

      <dt>Your address</dt>
      <dd>
        {{ d.address | safe }}
        <span class="audit-dl-link"><a>Previous addresses</a></span>
      </dd>
    </dl>
  </div>

  {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
