{% set title = "Find out who's looked at your health records" %}
{% set serviceName = "Check where your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/v7" %}
{% set template = "single" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/nhsuk.html' %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ],
    href: "#",
    text: "Find out who's looked at your health records"
  }) }}
{% endblock %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1>{{serviceName}}</h1>

  {{ contentsList({
    items: [
      {
        href: "/" + PROTOTYPEURL + "/nhsuk/scr",
        text: "Your Summary Care Record"

      },
      {
        href: "/" + PROTOTYPEURL + "/nhsuk/start",
        text: serviceName,
        current: "true"
      },
      {
        href: "/" + PROTOTYPEURL + "/nhsuk/opt-out",
        text: "Choose not to have a Summary Care Record"
      }
    ]
  }) }}

  <p>
    Use this service to check where your Summary Care Record has been used.
  </p>
  <p>
    Your Summary Care Record comes from your GP record. It tells health and care staff:
  </p>
  <ul>
    <li>your allergies</li>
    <li>your medicines</li>
    <li>any reactions you've had to medicines</li>
  </ul>
  <p>It helps health and care staff give you the right care when you are away from your GP surgery. For example, in an emergency.</p>
    <h2>To use this service you'll need:</h2>
    <ul>
      <li>to be 16 or older</li>
      <li>an NHS login - if you do not have one, we'll help you set one up</li>
    </ul>
  <button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/prelogin/before-you-continue'">
    Start now
  </button>

  {{ pagination({
    "previousUrl": "/" + PROTOTYPEURL + "/nhsuk/scr",
    "previousPage": "Your Summary Care Record",
    "nextUrl": "/" + PROTOTYPEURL + "/nhsuk/opt-out",
    "nextPage": "Choose not to have a Summary Care Record"
  }) }}
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
