{% set title = "Choose a date" %}
{% set serviceName = "Check how your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/date-chooser" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}

{% block body %}
<h1>{{title}}</h1>
<p>Exploration of how to let users choose a timeframe to look at</p>

<h2>Prototypes</h2>
<ol class="audit-list--unstyled audit-list-cards">
  <li class="audit-list-cards__item">
    <a href="/{{PROTOTYPEURL}}/v1/year">
      <h3 class="audit-list-cards__heading nhsuk-heading-m">v1</h3>
    </a>
  </li>
</ol>

{{ backLink({
  "href": "/scr-audit/index",
  "text": "Back to previous page"
}) }}
{% endblock %}

{% block sidebar %}
{% endblock %}
