{% set title = 'Do you have an NHS login?' %}
{% set serviceName = "Audit and transparency" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">

  <form class="" method="get" action="int.html">
    {{ input({
      "label": {
        "text": "Enter your NHS number",
        "classes": "nhsuk-label--l",
        "isPageHeading": true
      },
      "hint": {
        "text": "This is a 10 digit number, like 485 777 3456."
      },
      "id": "nhsNumber",
      "name": "nhsNumber",
      "classes": "nhsuk-input--width-10"
    }) }}

    <button type="submit" class="nhsuk-button">
      Continue
    </button>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
