{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}
{% from 'label/macro.njk' import label %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% from 'date-input/macro.njk' import dateInput %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'emergency-alert/macro.njk' import emergencyAlert %}
{% from 'error-message/macro.njk' import errorMessage %}
{% from 'error-summary/macro.njk' import errorSummary %}
{% from 'feedback-banner/macro.njk' import feedbackBanner %}
{% from 'hint/macro.njk' import hint %}
{% from 'select/macro.njk' import select %}
{% from 'textarea/macro.njk' import textarea %}
{% from '_macros/_summary-list.html' import govukSummaryList %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {% include "partials/_header.html" %}
  {% import "partials/_macros.html" as patterns %}
  {% from 'header/macro.njk' import header %}
  {% block scripts %}{% endblock %}
  <script>
    (function(d) {
      d.className = d.className.replace(/\bno-js\b/, 'js-enabled')
    })(document.documentElement)
  </script>
</head>
<body>

  {{ header({
    "service": {
      "name": serviceName,
      "longName": "true"
    },
    "showNav": "false",
    "showSearch": "false"
    })
  }}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters">
          {% block body %}{% endblock %}
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          {% block sidebar %}{% endblock %}
        </div>
      </div>
    </main>
  </div>

    {% include "partials/_footer.html" %}
  </body>
</html>
