{% set title = "Sorry, you don't seem to have an Summary Care Record" %}
{% set serviceName = "Check where your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/v7" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">{{title}}</h1>
  <p>We've logged you out because you’ve not used this service for a while.</p>
  <p>We do this for your security.</p>
  <button type="submit" class="nhsuk-button">
    Log in again
  </button>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
