{% set title = "Tell us your name, date of birth and NHS number or postcode" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set PROTOTYPEURL = "ndop-next/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
  <div class="nhsuk-u-reading-width">
    <div class="audit-interruption">
      <div class="audit-interruption__wrapper">
        <div class="audit-interruption__content">
          <h1 class="audit-interruption__heading nhsuk-heading-l">{{title}}</h1>
          <p>
            We'll use these details to find you in our patient database so that we can send you a security code.
          </p>
          <button type="submit" class="nhsuk-button nhsuk-button--reverse" onclick="window.location.href='/{{PROTOTYPEURL}}/explainer/health-services-such-as-your-GP-surgery-or-dentist-have-their-own-health-record-about-you'">
            Continue
          </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
