{% set title = "NHS login" %}
{% set serviceName = "Check where your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/v7" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
  <div class="nhsuk-u-reading-width">
    <div class="audit-interruption">
      <div class="audit-interruption__wrapper">
        <div class="audit-interruption__content">
          <h1 class="audit-interruption__heading nhsuk-heading-l">{{title}}</h1>
          <p>
            The user would now login.
          </p>
          <button type="submit" class="nhsuk-button nhsuk-button--reverse" onclick="window.location.href='/{{PROTOTYPEURL}}/explainer/health-services-such-as-your-GP-surgery-or-dentist-have-their-own-health-record-about-you'">
            Continue
          </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
