{% set title = "We need to check who you are before you can make your choice" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set PROTOTYPEURL = "ndop-next/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}

  <div class="nhsuk-u-reading-width">
    <h1 class="audit-promo__heading nhsuk-heading-l">{{title}}</h1>
    <p>
      We will do this by asking you for an NHS login or by using the details you have registered with your GP surgery.
    </p>
    <button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/prelogin/how-do-you-want-to-prove-your-identity'">
      Continue
    </button>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
