{% set title = 'Audit and transparency' %}
{% set serviceName = "National data opt out programme" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block hero %}
{{ hero({
"heading": title,
"text": "Prototypes, explorations and concepts."
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <ul class="audit-list--unstyled audit-list-cards">
    <li class="audit-list-cards__item">
      <a href="/scr-audit/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Summary Care Record audit</h2>
        <p>Let users see how their Summary Care Record has been used</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/view-your-pds/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Personal details (PDS) viewer and audit</h2>
        <p>Let users check their details</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/data-release/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Data release service</h2>
        <p>Let users see how their personal data has been used for research and planning</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/hub/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">NHS website exploration</h2>
        <p>New information architecture models for the NHS website</p>
      </a>
    </li>

  </ul>

  <h2>Other resources</h2>
  <ul class="audit-list--unstyled audit-list-cards">
    <li class="audit-list-cards__item">
      <a href="/decisions/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Design decisions</h2>
        <p>Design decisions, patterns and research</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/examples/index">
        <h3 class="audit-list-cards__heading nhsuk-heading-s">Examples</h3>
        <p>Let users see how their Summary Care Record has been used</p>
      </a>
    </li>
  </ul>
</div>

{% endblock %}
{% block sidebar %}
{% endblock %}
