{% set title = 'Check the personal details the NHS has for you' %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/nhsuk.html' %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ],
    href: "#",
    text: "Your records"
  }) }}
{% endblock %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1>{{serviceName}}</h1>

  <p>
    Use this service to:
  </p>

  <ul>
    <li>check the personal details we have for you</li>
    <li>see who's looked at your personal details</li>
  </ul>

  <p>Your personal details are used to help identify you and allow services to contact you. For example, to help a hospital text you an appointment reminder.</p>

    <h2>To use this service you'll need:</h2>
    <ul>
      <li>to be 16 or older</li>
      <li>an NHS login - if you do not have one, we'll help you set one up</li>
    </ul>
  <button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/prelogin/before-you-continue'">
    Start now
  </button>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
