{% set title = 'Check the personal details the NHS has for you' %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/nhsuk.html' %}
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ],
    href: "#",
    text: "Your health records"
  }) }}
{% endblock %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1>{{serviceName}}</h1>
  <p>
    Use this service to:
  </p>
  <ul>
    <li>check the personal details the NHS has for you</li>
    <li>see who's looked at your personal details</li>
  </ul>

  <p>
    The NHS has a patient database which includes information such as your:
  </p>
  <ul>
    <li>name</li>
    <li>address</li>
    <li>date of birth</li>
    <li>NHS number</li>
  </ul>
  <p>This information is used by the NHS to help identify you and allow services to contact you. For example, to help a hospital text you an appointment reminder.</p>
    <h2>To use this service you'll need:</h2>
    <ul>
      <li>to be 16 or older</li>
      <li>an NHS login - if you do not have one, we'll help you set one up</li>
    </ul>
  <button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/prelogin/before-you-continue'">
    Start now
  </button>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
