{% set title = "Sorry, we could not find that page" %}
{% set serviceName = "Check where your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/v7" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">{{title}}</h1>
  <p>If you typed the web address, check it is correct.</p>
  <p>If you pasted the web address, check you copied the entire address.</p>
  <p>If the web address is correct or you selected a link or button, contact us to let us know there is a problem with this page:</p>

  <address>
    <p><strong>By email</strong> <br>
      <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a> <br>
    </p>
    <p><strong>By phone</strong> <br>
      Telephone: 0300 303 5678 <br>
      Monday to Friday, 9am to 5pm excluding bank holidays <br>
    </p>
  </address>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
