{% set title = 'NHS website exploration' %}
{% set serviceName = "National data opt out programme" %}
{% set PROTOTYPEURL = "hub" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block hero %}
{{ hero({
"heading": title,
"text": "Exploration of content needed for the NHS website"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h2>Prototypes</h2>
  <ul class="audit-list--unstyled audit-list-cards">
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/v1/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v1</h2>
        <p>v1 hub layout for private beta</p>
      </a>
    </li>
  </ul>
</div>

{{ backLink({
  "href": "/",
  "text": "Back to previous page"
}) }}
{% endblock %}
{% block sidebar %}
{% endblock %}
