{% set title = "Data from your health records is used to improve health and care services" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set PROTOTYPEURL = "ndop-next/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}

  <div class="nhsuk-u-reading-width">
    <div class="audit-promo">
      <div class="audit-promo-wrapper">
        <div class="audit-promo__content">
          <h1 class="audit-promo__heading nhsuk-heading-l">{{title}}</h1>
          <p>
             We share data from your health record to:
          </p>
          <ul>
            <li>
              plan where to locate services
            </li>
            <li>
              find cures for serious illnesses
            </li>
          </ul>
          <button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/question/explainer/you-have-a-choice'">
            Continue
          </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
