{% set title = "We need to check who you are before you can make your choice" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <div class="audit-interruption">
    <div class="audit-interruption__wrapper">
      <div class="audit-interruption__content">
        <h1 class="audit-promo__heading nhsuk-heading-l">{{title}}</h1>
        <p>
          We'll need your:
        </p>
        <ul>
          <li>name</li>
          <li>date of birth</li>
          <li>postcode or NHS number</li>
        </ul>
        <p>
          We'll use these details to find your contact details from your health records so we can send you a security code.
        </p>
        <form action="index#Strategies" method="get">

          <input type="submit" class="nhsuk-button nhsuk-button--reverse" value="Continue">
          </input>

        </form>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
