{% set title = "Enter your NHS number" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <form action="index#Strategies" method="get">

    {{ input({
      "label": {
        "text": title,
        "isPageHeading": true,
        "classes": "nhsuk-label--xl"
      },
      "hint": {
        "html": "<p>Your NHS number is a 10 digit number, for example 485 777 3456 </p>"
      },
      "type": "number",
      "id": "inputnhsnumber",
      "name": "nhsnumber",
      "classes": "nhsuk-input--width-10"
    }) }}

    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
