{% set title = "Do you know your NHS number?" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <h1>We need your NHS number to check who you are</h1>
  <p>Your NHS number is a 10 digit number, for example 485 777 3456 </p>
  <p>You can find your NHS number on any letter sent to you by the NHS, on your prescriptions or by logging in to your GP practice online service</p>

  <form action="#" method="get">

    {{ radios({
      "idPrefix": "gov",
      "name": "gov",
      "fieldset": {
        "legend": {
          "text": title,
          "isPageHeading": false,
          "classes": "nhsuk-fieldset__legend--m"
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes, I know my NHS number"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}

    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
