{% set title = "Where your details have been looked at" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  {{ backLink({
    "href": "/" + PROTOTYPEURL + "/dashboard/your-details",
    "text": "Back to your details"
  }) }}

  <h1 class="nhsuk-heading-l">
    <span class="audit-subheading">In the last year</span>
    {{title}}
  </h1>

  <ol class="nhsuk-list">
    <li>
      <div class="nhsuk-list-panel">
        <h2 class="nhsuk-list-panel__label--m" id="sept-2018">September 2018</h2>
        <ol class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
          <li class="nhsuk-list-panel__item">
            <h3 class="nhsuk-list-panel-heading">Friday 21 September 2018</h3>
            <ol class="nhsuk-list-panel-inner-list">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" aria-label="3:32pm, Leeds Teaching Hospitals NHS Trust" href="/{{PROTOTYPEURL}}/timeline/item/1">
                  <div class="">
                    3:32pm
                  </div>
                  <div class="">
                    Leeds Teaching Hospitals NHS Trust
                    <svg class="nhsuk-icon nhsuk-icon__chevron-right nhsuk-list-panel-inner-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                  </div>
                  <div class="nhsuk-list-panel-inner-list__link">
                    Find out more
                  </div>
                </a>
              </li>
            </ol>
          </li>

          <li class="nhsuk-list-panel__item">
            <h3 class="nhsuk-list-panel-heading">Thursday 13 September 2018</h3>
            <ol class="nhsuk-list-panel-inner-list">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" aria-label="11:24am, Leeds Community Healthcare NHS Trust" href="/{{PROTOTYPEURL}}/timeline/item/2">
                  <div class="">
                    11:24am
                  </div>
                  <div class="">
                    Leeds Community Healthcare NHS Trust
                    <svg class="nhsuk-icon nhsuk-icon__chevron-right nhsuk-list-panel-inner-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                  </div>
                  <div class="nhsuk-list-panel-inner-list__link">
                    Find out more
                  </div>
                </a>
              </li>
            </ol>

          </li>
        </ol>
      </div>
    </li>
  </ol>

  <ol class="nhsuk-list">
    <li>
      <div class="nhsuk-list-panel">
        <h2 class="nhsuk-list-panel__label--m" id="sept-2018">January 2018</h2>
        <ol class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
          <li class="nhsuk-list-panel__item">
            <h3 class="nhsuk-list-panel-heading">Friday 19 January 2018</h3>
            <ol class="nhsuk-list-panel-inner-list">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" aria-label="2:24pm, Knights Pharmacy" href="/{{PROTOTYPEURL}}/timeline/item/3">
                  <div class="">
                    2:24pm
                  </div>
                  <div class="">
                    Knights Pharmacy
                    <svg class="nhsuk-icon nhsuk-icon__chevron-right nhsuk-list-panel-inner-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                  </div>
                  <div class="nhsuk-list-panel-inner-list__link">
                    Find out more
                  </div>
                </a>
              </li>
            </ol>
          </li>

        </ol>
      </div>
    </li>
  </ol>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
