{% set title = "Where your Summary Care Record has been looked at" %}
{% set serviceName = "Find out where your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/v6" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}
{% from 'label/macro.njk' import label %}


{% block body %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">
    <span class="audit-subheading">In the last year</span>
    {{title}}
  </h1>

  <ol class="nhsuk-list">
    <li>
      <div class="nhsuk-list-panel">
        <h2 class="nhsuk-list-panel__label--m" id="sept-2018">September 2018</h2>
        <ol class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
          <li class="nhsuk-list-panel__item">
            <h3 class="nhsuk-list-panel-heading">Friday 21 September 2018</h3>
            <ol class="nhsuk-list-panel-inner-list">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" aria-label="3:32pm, Leeds Teaching Hospitals NHS Trust" href="/{{PROTOTYPEURL}}/timeline/item/1">
                  <div class="">
                    3:32pm
                  </div>
                  <div class="">
                    Leeds Teaching Hospitals NHS Trust
                    <svg class="nhsuk-icon nhsuk-icon__chevron-right nhsuk-list-panel-inner-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                  </div>
                  <div class="nhsuk-list-panel-inner-list__link">
                    Find out more
                  </div>
                </a>
              </li>
            </ol>
          </li>

          <li class="nhsuk-list-panel__item">
            <h3 class="nhsuk-list-panel-heading">Thursday 13 September 2018</h3>
            <ol class="nhsuk-list-panel-inner-list">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" aria-label="11:24am, Leeds Community Healthcare NHS Trust" href="/{{PROTOTYPEURL}}/timeline/item/2">
                  <div class="">
                    11:24am
                  </div>
                  <div class="">
                    Leeds Community Healthcare NHS Trust
                    <svg class="nhsuk-icon nhsuk-icon__chevron-right nhsuk-list-panel-inner-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                  </div>
                  <div class="nhsuk-list-panel-inner-list__link">
                    Find out more
                  </div>
                </a>
              </li>
            </ol>

          </li>
        </ol>
      </div>
    </li>
  </ol>

  <ol class="nhsuk-list">
    <li>
      <div class="nhsuk-list-panel">
        <h2 class="nhsuk-list-panel__label--m" id="sept-2018">January 2018</h2>
        <ol class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
          <li class="nhsuk-list-panel__item">
            <h3 class="nhsuk-list-panel-heading">Friday 19 January 2018</h3>
            <ol class="nhsuk-list-panel-inner-list">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" aria-label="2:24pm, Knights Pharmacy" href="/{{PROTOTYPEURL}}/timeline/item/3">
                  <div class="">
                    2:24pm
                  </div>
                  <div class="">
                    Knights Pharmacy
                    <svg class="nhsuk-icon nhsuk-icon__chevron-right nhsuk-list-panel-inner-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                  </div>
                  <div class="nhsuk-list-panel-inner-list__link">
                    Find out more
                  </div>
                </a>
              </li>
            </ol>
          </li>

        </ol>
      </div>
    </li>
  </ol>

  <p>
    <a href="something-is-missing">
    What to do if you think something is missing from this list
    </a>
  </p>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
