{% set title = "Check before you submit" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <h1>{{ title }}</h1>

  {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Philips"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "5 January 1978"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Contact information"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        html: '<p>07700 900457</p><p>sarah.phillips@example.com</p>'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

  <form action="#" method="get">

    <h2>Are your details correct?</h2>
    <p>Make sure your details are correct.</p>
    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
