{% set title = "Is this a checkbox example?" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <form action="#" method="get">

    {{ checkboxes({
      "idPrefix": "nationality",
      "name": "nationality",
      "fieldset": {
        "legend": {
          "text": title,
          "classes": "nhsuk-fieldset__legend--xl",
          "isPageHeading": true
        }
      },
      "hint": {
      "text": "Select all that apply"
    },
      "items": [
        {
          "value": "SCR",
          "text": "Summary Care Record"
        },
        {
          "value": "PDS",
          "text": "Patient Demographic Service"
        },
        {
          "value": "Data Release Register",
          "text": "Data Release Register"
        },
        {
          "value": "Research and planning",
          "text": "Research and planning"
        }
      ]
    }) }}

    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
