{% set title = "Log in to see the logs" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <form action="#" method="get">

    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
        <h1 class="nhsuk-fieldset__heading">
          {{title}}
        </h1>
      </legend>

      {{ input({
        "label": {
          "text": "Username"
        },
        "attributes": {
          "autocomplete": "off"
        },
        "id": "inputusername",
        "name": "username",
        "classes": "nhsuk-input--width-20"
      }) }}

      {{ input({
        "type": "password",
        "label": {
          "text": "Password"
        },
        "attributes": {
          "autocomplete": "off"
        },
        "id": "inputpassword",
        "name": "password",
        "classes": "nhsuk-input--width-20"
      }) }}

    </fieldset>

    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
