{% set title = "What's your full name?" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <form action="#" method="get">

  {% call fieldset({
    "legend": {
      "text": title,
      "classes": "nhsuk-fieldset__legend--xl",
      "isPageHeading": true
    }
  }) %}

  {{ input({
    "label": {
      "text": "First names",
      "isPageHeading": false
    },
    "id": "inputnhsnumber",
    "name": "nhsnumber",
    "classes": "nhsuk-input--width-20"
  }) }}

  {{ input({
    "label": {
      "text": "Last name",
      "isPageHeading": false
    },
    "id": "inputnhsnumber",
    "name": "nhsnumber",
    "classes": "nhsuk-input--width-20"
  }) }}


{% endcall %}



    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
