{% set title = "Is this a radio button?" %}
{% set serviceName = "Service name" %}
{% set PROTOTYPEURL = "examples" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "index",
    "text": "Back to list"
  }) }}

  <form action="#" method="get">

    {{ radios({
      "idPrefix": "gov",
      "name": "gov",
      "fieldset": {
        "legend": {
          "text": title,
          "isPageHeading": true,
          "classes": "nhsuk-fieldset__legend--xl"
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes, it is"
        },
        {
          "value": "no",
          "text": "No, it's not"
        }
      ]
    }) }}

    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
