{% set title = 'Tell users what data the service will use' %}
{% set serviceName = "National data opt out programme" %}
{% set PROTOTYPEURL = "decisions" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block hero %}
{{ hero({
"heading": title,
"text": "Before a user has their data processed, be clear what will happen by using this service"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <p>When a user starts a service that shows or audits their health records, their records will be processed.</p>
  <p>This is implicit in the service, but a user may not be aware of exactly how and why their data is being used.</p>
  <p>The system should:</p>
  <ul>
    <li>clearly state in easy to understand terms what data is being used</li>
    <li>why that data is used</li>
    <li>what data is shared or processed elsewhere</li>
  </ul>
  <h2>Examples</h2>
  <ul class="audit-list--unstyled">
    <li><a href="/scr-audit/v5/prelogin/before-you-continue">Page users see before they audit their Summary Care Record</a></li>
  </ul>
  <h2>Hypotheses</h2>
  <p>
    <strong>If</strong> we use plain language to explain what data will be used and why <br />
    <strong>then</strong> users will know what information they are happy to have processed
  </p>
  <p><strong>We know this works when:</strong></p>
  <ul>
    <li>users report increased confidence in the NHS's ethical management of their data (in terms of this service)</li>
    <li>users reports higher usability</li>
    <li>users are able to explain (at a high-level) what information is being processed and why</li>
  </ul>
  <hr>

</div>

{{ backLink({
  "href": "/" + PROTOTYPEURL + "/index",
  "text": "Back to previous page"
}) }}
{% endblock %}
{% block sidebar %}
{% endblock %}
