{% set title = "Log in" %}
{% set serviceName = "Send a report" %}
{% set PROTOTYPEURL = "scr-audit/offline/v2" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}
{% from 'label/macro.njk' import label %}
{% from "_macros/_summary-list.html" import govukSummaryList %}

{% block body %}

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
    <h1 class="nhsuk-fieldset__heading">
      Check the person
    </h1>
  </legend>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: "Frank Spencer"
        }
      },
      {
        key: {
          text: "Place of birth"
        },
        value: {
          text: "Skegness"
        }
      },
      {
        key: {
          text: "NHS number"
        },
        value: {
          text: "485 777 3456"
        }
      }
    ]
  }) }}

<h2>Is this the right person?</h2>
  <div class="nhsuk-radios">

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
      <label class="nhsuk-label nhsuk-radios__label" for="example-1">
        Yes
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
        No
      </label>
    </div>
  </div>
  </fieldset>
</div>

<button type="submit" class="nhsuk-button" onclick="window.location.href='/scr-audit/offline/v2/select-report'">
              Continue
            </button>


{% endblock %}

{% block sidebar %}
{% endblock %}
