{% set title = "Visit your GP surgery to change your contact details" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% set details = [
  {
    name: "Sally Wash",
    dob: "5/5/1948",
    gender: "Female",
    placeOfBirth: "Skegness",
    email: "sally.wash@example.com",
    telephone: "01132111165",
    mobile: "07116211211",
    NHSNumber: "485 777 3456",
    address: "Grand Parade <br />
                      Great George Street <br />
                      Skegness <br />
                      Lincolnshire <br />
                      PE25 2UE"
  }
]
%}

{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">
  {{ backLink({
    "href": "/" + PROTOTYPEURL + "/your-details/1-inline",
    "text": "Back to previous page"
  }) }}
  <h1 class="nhsuk-heading-l">
    {{title}}
  </h1>
  <p>Services across the NHS use your records to manage your care. It's important that your details are up to date.</p>
  <p>Your GP surgery will be able to update these for you.</p>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
