{% set title = 'Summary Care Audit' %}
{% set serviceName = "National data opt out programme" %}
{% set PROTOTYPEURL = "scr-audit" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block hero %}
{{ hero({
"heading": title,
"text": "Service to let users see how their Summary Care Record has been used"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h2>Prototypes</h2>
  <ul class="audit-list--unstyled audit-list-cards">
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/v7/nhsuk/scr">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v7</h2>
        <p>Reduced scope. New summary card. Reorganised flow of cards</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/date-chooser/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Date selection</h2>
        <p>Help users choose the right date</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/v6/start">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v6</h2>
        <p>New service name, updated summary cards</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/offline/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Offline SCR audit</h2>
        <p>Offline service exploration</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/timelines/index">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Timelines SCR audit</h2>
        <p>Timeline display exploration</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/v5/start">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v5</h2>
        <p>Further refined timeline with NHS login</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/release-dec/start">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">Developer release (Dec 2018 - Jan 2019)</h2>
        <p>Simple explainers, timeline and item view</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="http://audit-transparency.herokuapp.com/v4/start">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v4</h2>
        <p>Refined timeline</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="http://audit-transparency.herokuapp.com/v3/start">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v3</h2>
        <p>Shorter explainer journey</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="http://audit-transparency.herokuapp.com/v2/start">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v2</h2>
        <p>Explainer, Summary card and additional details</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="http://audit-transparency.herokuapp.com/v1/start">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">v1</h2>
        <p>Initial exploration</p>
      </a>
    </li>

  </ul>
</div>






<h2>Scenarios</h2>
<h3 class="nhsuk-heading-m">Service</h3>
<ul>
  <li><a href="/{{PROTOTYPEURL}}/v6/scenarios/cookie-banner-v3">Cookie banner (v6)</a></li>
  <li><a href="/{{PROTOTYPEURL}}/v5/scenarios/no-records">No records found (v5)</a></li>
  <li>User has opted out of a SCR</li>
</ul>
<h3 class="nhsuk-heading-m">Errors</h3>
<ul>
  <li><a href="/{{PROTOTYPEURL}}/v5/errors/catch-all-error">Generic error</a></li>
  <li><a href="/{{PROTOTYPEURL}}/v5/errors/page-not-found">Page not found (404)</a></li>
  <li><a href="/{{PROTOTYPEURL}}/v5/errors/service-unavailable-planned">Maintenance</a></li>
  <li><a href="/{{PROTOTYPEURL}}/v5/errors/service-unavailable-unplanned">Service unavailable</a></li>
  <li><a href="/{{PROTOTYPEURL}}/v5/errors/session-expired">Session expired</a></li>
</ul>

{{ backLink({
  "href": "/",
  "text": "Back to previous page"
}) }}
{% endblock %}
{% block sidebar %}

{% endblock %}
