{% set title = "Your details" %}
{% set serviceName = "Check your personal details" %}
{% set PROTOTYPEURL = "view-your-pds/v1" %}
{% set details = [
  {
    name: "Sally Wash",
    dob: "5/5/1948",
    gender: "Female",
    placeOfBirth: "Skegness",
    NHSNumber: "485 777 3456",
    address: "Grand Parade <br />
                      Great George Street <br />
                      Skegness <br />
                      Lincolnshire <br />
                      PE25 2UE"
  }
]
%}

{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">
    Your details
  </h1>

  <ul class="audit-list--unstyled audit-list-cards">
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/your-details/1-inline">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">See your personal details</h2>

        <p>Such as your name and date of birth and how to update them.</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/your-GP/your-GP--single-with-a-link">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">See your current GP surgery</h2>

        <p>The details for your current GP surgery and where you have been registered before.</p>
      </a>
    </li>
    <li class="audit-list-cards__item">
      <a href="/{{PROTOTYPEURL}}/explainer/your-details-are-used-for-your-care">
        <h2 class="audit-list-cards__heading nhsuk-heading-m">See who's looked at your details</h2>

        <p>Where your details have been used to help provide you with care.</p>
      </a>
    </li>
  </ul>


</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
