{% set title = "Your health records" %}
{% set serviceName = "Your health records" %}
{% set PROTOTYPEURL = "hub/v1" %}
{% set template = "hub" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/hub.html' %}
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ],
    href: "#",
    text: "Your health records"
  }) }}
{% endblock %}

{% block body %}
<div class="nhsuk-page-heading nhsuk-u-reading-width">
  <h1>{{title}}</h1>
  <p class="nhsuk-body-l nhsuk-page-intro">
    What your health records are, how to look at them and who they’re shared with
  </p>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-m">
      <a href="/{{PROTOTYPEURL}}/1-how-to-look-at-your-health-records">How to look at your health records</a></h2>
    <p>The different types of health records and how to look at them</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-m">
      <a href="/{{PROTOTYPEURL}}/2-how-your-health-records-are-shared">How your health records are shared</a>
    </h2>
    <p>How we use your health records for your care and for secondary purposes</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-m">
      <a href="https://www.nhs.uk/common-health-questions/nhs-services-and-treatments/can-i-access-someone-elses-medical-records-health-records/">How to look at someone else’s health record</a>
    </h2>
    <p>Find out if you're able to look at another person's health record</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-m"><a href="https://atf-prod1.scraud-live.thunderbird.service.nhs.uk/">Find out who’s looked at your health records </a></h2>
    <p>Use this service to find out who’s looked at your Summary Care Record</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-m"><a href="https://ndop-n.herokuapp.com/release/01-overview">Choose if your health records are shared for research and planning</a></h2>
    <p>Use this service to choose whether data from your health records can be used for research and planning</p>
  </div>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
