{% set title = "Enter the place you want to search for" %}
{% set serviceName = "Check how your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/place-chooser/v1" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">

  <form action="choose-the-year" method="get">

    {{ input({
      "label": {
        "text": title,
        "isPageHeading": true,
        "classes": "nhsuk-label--xl"
      },
      "id": "inputnhsnumber",
      "name": "nhsnumber",
      "classes": "nhsuk-input--width-20"
    }) }}

    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
