{% set title = "Your Summary Care Record was looked at 2 times" %}
{% set serviceName = "Check how your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/place-chooser/v1" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">
    <span class="audit-subheading">In 2019</span>
    {{title}}
  </h1>
</div>

<button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/enter-place'">
  Search by place
</button>

{% endblock %}

{% block sidebar %}
{% endblock %}
