{% set title = "Sorry, this service can only show you where your Summary Care Record has been looked at in England" %}
{% set serviceName = "Check how your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/place-chooser/v1" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">{{title}}</h1>
</div>

{{ backLink({
  "href": "/scr-audit/place-chooser/v1/enter-place",
  "text": "Search again"
}) }}

{% endblock %}

{% block sidebar %}
{% endblock %}
