{% set title = "Sorry, you've searched for a place outside of England" %}
{% set serviceName = "Check how your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/place-chooser/v1" %}
{% block scripts %}
{% endblock %}

{% extends 'layouts/layout.html' %}

{% block body %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">{{title}}</h1>
</div>

<p>
  We can only show you where your Summary Care Record has been looked at in England.
</p>

<form action="enter-place" method="get">
  <input type="submit" class="nhsuk-button" value="Search for another place">
  </input>
</form>


{% endblock %}

{% block sidebar %}
{% endblock %}
