{% set title = "Health and care staff might look at your Summary Care Record to check your allergies and medicines" %}
{% set serviceName = "Find out where your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/v7" %}
{% set DATESTAMP = 'Friday 21 September 2018' %}
{% set TIME = '3:32pm' %}
{% set LOCATION = 'Leeds Teaching Hospitals NHS Trust' %}
{% set PHONE = '0113 243 2799' %}
{% set ADDRESS = "Leeds General Infirmary <br />
                  Great George Street <br />
                  Leeds <br />
                  West Yorkshire <br />
                  LS1 3EX"
                  %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}
{% from 'label/macro.njk' import label %}
{% from 'back-link/macro.njk' import backLink %}


{% block body %}
<div class="nhsuk-u-reading-width">

  {{ backLink({
    "href": "/" + PROTOTYPEURL + "/timeline/where-your-Summary-Care-Record-has-been-looked-at",
    "text": "Back to list"
  }) }}

  <h1 class="nhsuk-heading-l">
    {{title}}
  </h1>
  <p>They'll do this:</p>
  <ul>
    <li>in an emergency</li>
    <li>at a walk-in centre</li>
    <li>at a pharmacy</li>
  </ul>
  <p>
    If you're still worried that something is missing, speak to the place where you received care.
  </p>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
