{% set title = "Your Summary Care Record comes from your GP record" %}
{% set serviceName = "Check where your Summary Care Record has been used" %}
{% set PROTOTYPEURL = "scr-audit/v7" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<div class="nhsuk-u-reading-width">
    <div class="audit-promo">
      <div class="audit-promo-wrapper">
        <div class="audit-promo__content">
          <h1 class="audit-promo__heading nhsuk-heading-l">{{title}}</h1>
      <p>It tells health and care staff:</p>
      <ul>
        <li>your allergies</li>
        <li>your medicines</li>
        <li>any reactions you've had to medicines</li>
      </ul>
          <button type="submit" class="nhsuk-button" onclick="window.location.href='/{{PROTOTYPEURL}}/explainer/health-and-care-staff-might-look-at-your-Summary-Care-Record-to-check-your-allergies-and-medicines'">
            Continue
          </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
